.banner {
	--yPosition: 100%;
	--textColor: var(--colorBlack);
	--backgroundColor: var(--colorGreen);
	position: fixed;
	bottom: 86px;
	display: block;
	width: 100%;
	padding: 16px 32px;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.1rem;
	color: var(--textColor);
	text-transform: uppercase;
	background-color: var(--backgroundColor);
	transition: transform var(--transitionSpeed) linear;
	transform: translateY(var(--yPosition));
	z-index: 8000;

	&.isVisible {
		--yPosition: 0%;
	}

	&.isError {
		--textColor: var(--colorWhite);
		--backgroundColor: var(--colorRed);
	}
}