@import 'modern-normalize/modern-normalize.css';

@import './variables';
@import './fonts';

html,
body {
	position: relative;
	min-height: 100vh;
}

body {
	display: flex;
	font-family: var(--fontSourceSans);
	font-weight: 400;
	font-size: var(--fontBaseSize);
	color: var(--colorBlack);
	background-color: var(--colorYellow);
}

#app {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100vw;
}